:root {
    --moderate-cyan: hsl(176, 50%, 47%);
    --dark-cyan: #147b74;
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%);
    --top: 100;
    --center: 1;
    --default: -1;
    font-size: 16px;
    font-family: Commissioner, sans-serif;
}

body {
    width: 100%;
    height: max-content;
    background-color: #fafafa;
    position: relative;
}

.template {
    display: none;
}

/* HEADER */

header {
    background-image: url(../images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    aspect-ratio: 9/2;
    padding: 30px 7.5% 0;
    position: relative;
    z-index: 2;
}

header::after {
    content: 'a';
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    z-index: var(--default);
}

header>nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20%;
}

header>nav>.logo {
    z-index: var(--top);
    position: relative;
}

header>nav>.nav-buttons {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 2rem;
    z-index: var(--top);
}

header>nav>.nav-buttons .nav-item {
    color: white;
    text-decoration: none;
}

.hamburger {
    object-fit: contain;
    height: 100%;
    width: 16px;
    display: none;
}

/* for mobile cuz its shorter */
@media (max-width: 650px) {
    header {
        background-image: url(../images/image-hero-mobile.jpg);
    }

    header>nav {
        margin-bottom: 35vw;
    }

    header>nav>.nav-buttons {
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 30vw;
        transform: translateX(-50%);
        width: 85vw;
        border-radius: .7rem;
        height: 45%;
        padding: 0;
        gap: 0;
        opacity: 0;
        transition: opacity 0.2s linear;
        z-index: var(--top);
    }

    header>nav>.nav-buttons li {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 2px solid rgba(98, 98, 98, 0.158);
        position: relative;
        background-color: white;
        gap: 0;
    }

    
    header>nav>.nav-buttons li:first-child {
        border-radius: .8rem .8rem 0 0;
    }

    header>nav>.nav-buttons li:last-child {
        border-bottom: none;
        border-radius: 0 0 .8rem .8rem;
    }
    
    header>nav>.nav-buttons .nav-item {
        color: var(--dark-gray);
        font-weight: 700;
        font-size: 1.3rem;
        padding: 0 20px;
        width: 100%;
        transition: all 0.2 linear;
    }
    
    header>nav>.nav-buttons li:hover .nav-item {
        color: var(--moderate-cyan);
    }
    
    .hamburger {
        display: none;
        z-index: var(--top);
    }

    .hamburger.active {
        display: block
    }

    .nav-buttons.active {
        opacity: 1;
        z-index: 1000;
    }

    header::after {
        transition: all 0.2s ease;
    }

}

header.blur::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: var(--center);
    background-color: rgba(0, 0, 0, .4);
}

/* SECTIONS */

main {
    background-color: #fafafa;
    position: relative;
    margin-bottom: 20px;
    height: max-content;
}

section {
    background-color: white;
    padding: 35px 25px;
    width: 85vw;
    max-width: 800px;
    box-shadow: 2px 2px 10px rgba(93, 93, 93, 0.05);
    border-radius: .8rem;
    margin: 30px auto;
}

/* TITLE-CARD */

#title-card {
    z-index: var(--default);
    text-align: center;
    position: relative;
}

#title-card>img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title-card>h1 {
    line-height: 1.8rem;
    margin: 20px 0;
}

#title-card>p {
    line-height: 1.6rem;
    color: var(--dark-gray);
}

#title-card>.functions {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 25px;
    justify-content: space-between;
}

#title-card>.functions>button:first-child {
    outline: none;
    border: none;
    width: 70%;
    border-radius: 2rem;
    background-color: var(--moderate-cyan);
    color: white;
    font-weight: 600;
    font-size: .8rem;
}

#title-card>.functions>button:last-child {
    border-radius: 50%;
    height: 100%;
    border: none;
    padding: 0;
}

#title-card>.functions>button:last-child span {
    display: none;
}

@media (min-width: 650px) {
    #title-card>.functions {
        justify-content: space-between;
    }

    #title-card>.functions>button:first-child {
        width: 250px;
    }

    #title-card>.functions>button:last-child span {
        display: block;
        user-select: none;
    }

    #title-card>.functions>button:last-child {
        width: 190px;
        border-radius: 2rem;
        border: none;
        display: flex;
        align-items: center;
        gap: 1.2vw;
        font-weight: 600;
    }
}

/* FIGURE-CARD */

#figure-card,
#figure-card .item-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#figure-card h5 {
    font-size: 2rem;
}

#figure-card p {
    color: var(--dark-gray);
}

#figure-card .item {
    position: relative;
}

#figure-card .item::after {
    content: '';
    width: 70px;
    height: 5px;
    border-bottom: 1px solid var(--dark-gray);
    left: 50%;
    bottom: -25%;
    transform: translateX(-50%);
    position: absolute;
}

#figure-card .item:last-of-type::after {
    border: none;
}

#figure-card .progress {
    width: 100%;
    height: 13px;
    background-color: #fafafa;
    border-radius: 1rem;
    position: relative;
}

#figure-card .line {
    position: absolute;
    top: 0;
    width: 75%;
    height: 13px;
    left: 0;
    background-color: var(--moderate-cyan);
    border-radius: 1rem;
}

@media (min-width: 650px) {
    #figure-card .item-container {
        text-align: left;
        flex-direction: row;
        justify-content: flex-start;
        gap: 3vw;
        position: relative;
    }

    #figure-card .item {
        width: calc(100% / 3);
        position: relative;
    }

    #figure-card .item::after {
        border-right: 1px solid var(--dark-gray);
        border-bottom: none;
        width: 5px;
        height: 65px;
        position: absolute;
        bottom: 0;
        left: clamp(80%, 100%, 100%);
    }
}

/* ABOUT CARD */

#about-card .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

#about-card .content h3 {
    font-size: 1.3rem;
}

#about-card .content p {
    color: var(--dark-gray);
}

#about-card .card-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#about-card .card-container .card {
    border: 1px solid var(--dark-gray);
    border-radius: .8rem;
    padding: 25px;
}

#about-card .card-container .card .card-title {
    font-size: 1.2rem;
    margin-bottom: .2rem;
}

#about-card .card-container .card .card-subtitle {
    color: var(--moderate-cyan);
    font-weight: 700;
}

#about-card .card-container .card .card-body {
    color: var(--dark-gray);
    padding: 20px 0;
}

#about-card .card-container .card .number {
    font-size: 2rem;
    font-weight: 900;
    position: relative;
    display: block;
}

#about-card .card-container .card .number::after {
    position: absolute;
    content: 'left';
    font-size: 1rem;
    font-weight: 400;
    top: 50%;
    transform: translate(30%, -50%);
    color: var(--dark-gray);
}

#about-card .card-container .card .card-button {
    margin-top: 15px;
    padding: 15px 0;
    width: 60%;
    border-radius: 2rem;
    border: none;
    background-color: var(--moderate-cyan);
    color: white;
    font-weight: 600;
}

/* FOR OUT OF STOCK */
#about-card .card-container .card.disabled *, #project-select .card.disabled {
    opacity: .4;
}

#about-card .card-container .card.disabled .card-button {
    background-color: var(--dark-gray);
    cursor: default;
}

@media (min-width: 650px) {
    #about-card .card-container .card .card-title {
        float: left;
        margin-bottom: 20px 0;
    }

    #about-card .card-container .card .card-subtitle {
        float: right;
    }

    #about-card .card-container .card .card-body {
        clear: both;
    }

    #about-card .card-container .card .card-functions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #about-card .card-container .card .card-button {
        width: 30%;
    }
}

/* BUTTONS */

button {
    cursor: pointer;
    transition: all 0.1s linear;
}

button:hover {
    background-color: var(--dark-cyan) !important;
}

@media (min-width: 600px) {
    button:hover {
        background-color: #2f2f2f;
    }
}

button:active {
    transform: scale(90%);
}

#bookmark {
    opacity: 1;
    transition: all .2s ease;
}

#bookmark:hover {
    opacity: .6;
    background-color: #f4f4f4 !important;
}

#bookmark.toggle {
    gap: 1vw !important;
}

#bookmark.toggle svg {
    width: 100%;
    object-fit: contain;
}

#bookmark.toggle svg g circle {
    fill: var(--dark-cyan);
}

#bookmark.toggle svg g path {
    fill: white;
}

#bookmark.toggle span {
    color: var(--dark-cyan);
}

#bookmark.toggle span::after {
    content: 'ed';
}

#bookmark.toggle:hover {
    opacity: 1;
}

/* FLOAT */

#float>section {
    position: absolute;
    top: 30%;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: all .3s ease-in-out;
    z-index: var(--top);
}

#float .close {
    position: absolute;
    right: 25px;
    top: 45px;
    content: '';
    width: 17px;
    height: 17px;
    background: transparent url(../images/icon-close-modal.svg) 0 0 no-repeat;
    background-size: contain;
    font-size: 2rem;
    transition: all 9.2s linear;
}

#float .close:active {
    transform: scale(90%);
}

#float>section.active {
    visibility:visible;
    opacity: 1; 
}

#project-select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#project-select h1 {
    margin-bottom: 10px;
}

#project-select p {
    color: var(--dark-gray);
}

#project-select .card {
    border: 1px solid var(--dark-gray);
    border-radius: .6rem;
    padding: 25px;
    position: relative;
}

#project-select .card.active {
    border: 3px solid var(--moderate-cyan);
}

#default-pledge {
    display: flex;
    flex-direction: row;
}

#project-select .card .title {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    grid-template-areas: "select title" "select subtitle";
    column-gap: 1rem;
    width: auto;
    margin-bottom: 1.5rem;
}

#project-select .card .title .select {
    grid-area: select;
    margin: auto 0;
    width: 25px;
    height: 25px;
    border: 1px solid var(--dark-gray);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

#project-select .card .title .select.toggled::after {
    position: absolute;
    top: 1.5px;
    left: 1px;
    width: 15px;
    height: 15px;
    background-color: var(--moderate-cyan);
    margin: 3px;
    content: '';
    border-radius: 50%;
    cursor: default;
}

#project-select .card .title .card-title {
    grid-area: title;
    font-size: 1rem;
    transition: color 0.2s linear;
    cursor: pointer;
    user-select: none;
}

#project-select .card .title .card-title:hover {
    color: var(--moderate-cyan);
}

#project-select .card .title .card-subtitle {
    grid-area: subtitle;
    color: var(--moderate-cyan);
    font-weight: 400;
}

#project-select .card .card-functions {
    margin-top: 20px;
}

#project-select .card .number {
    color: black;
    font-weight: 900;
    font-size: 1.5rem;
    position: relative;
}

#project-select .card .number::after {
    position: absolute;
    content: 'left';
    font-size: 1rem;
    font-weight: 400;
    top: 50%;
    transform: translate(30%, -50%);
    color: var(--dark-gray);
}

#project-select .card .card-button {
    display: none;
}

#project-select .card .pledge-amount {
    display: none;
}

#project-select .card.active .pledge-amount {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid var(--dark-gray);
    margin-top: 20px;
}

#project-select .card.active .pledge-amount p {
    margin: 20px 0;
}

#project-select .card.active .pledge-amount form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#project-select .card.active .pledge-amount form input {
    width: 50%;
    padding: 10px 0;
    border-radius: 5rem;
    text-align: center;
}

#project-select .card.active .pledge-amount form .money-input {
    border: 1px solid var(--dark-gray);
    outline: none;
    font-weight: 900;
}

#project-select .card.active .pledge-amount form .money-input:focus {
    outline: 2px solid var(--moderate-cyan);
    border: none;
}

#project-select .card.active .pledge-amount form .submit {
    background-color: var(--moderate-cyan);
    color: white;
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

#project-select .card.active .pledge-amount form .submit:hover {
    background-color: var(--dark-cyan);
}

#project-select .card.active .pledge-amount form .submit:active {
    transform: scale(90%);
}

@media (min-width: 650px) {
    #project-select .card.active .pledge-amount {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
    }

    #project-select .card .title {
        display: flex;
        flex-direction: row;
    }

    #project-select .card .card-body {
        margin-left: 40px;
    }

    #project-select .card .number {
        position: absolute;
        top: 15px;
        right: 60px;
    }

    #project-select > p {
        margin-bottom: 20px;
    }
}

#finished {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    top: 10% !important;
}

#finished img {
    width: 15%;
    margin: 0 auto;
}

#finished h1 {
    margin: 20px 0 10px;
}

#finished p {
    color: var(--dark-gray);
}

#finished button {
    padding: 10px 30px;
    border: none;
    font-weight: 900;
    border-radius: 2rem;
    background-color: var(--moderate-cyan);
    color: white;
    margin: 20px auto 0;
}

@media (min-width: 600px) {
    #finished {
        top: 20% !important;
    }
}